body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #0b0d0c;
  color: whitesmoke;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

nav a {
  font-weight: bold;
}
