{% extends "main_layout.html" %}

{% block title %}
    Update Profile
{% endblock  %}

{% block content %}<h1>Update Profile</h1>
<div class="container mx-auto max-w-[800px]">
    <form class="custom-form" action="{% url "profile:update" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{form}}
        </div>
        <button class="my-10 px-5 py-2 w-[600px] bg-[cadetblue] outline-none border-none" >
            Save Changes
        </button>
    </form>
</div> 
{% endblock  %}