{% extends "main_layout.html" %}

{% block title  %}
    Register User
{% endblock  %} 

{% block content %}
    <div class="container mx-auto max-w-[800px] mt-10">
        <h1 class="text-center font-bold">Register User</h1>
        <form class="custom-form" action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            <div>
                {{form}}  
            </div>
            <button class="my-10 px-5 py-2 w-[600px] bg-[cadetblue] outline-none border-none">
                REGISTER
            </button>
        </form>
    </div>
{% endblock %}