{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title  %} Kyverus Game Hub{% endblock  %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>
<body class="bg-gradient-to-b from-[#000000] to-[#03040a] text-white">
    <div class="bg-pattern min-h-dvh pb-10">
        {%  with namespace=request.resolver_match.namespace url_name=request.resolver_match.url_name %}
        <nav class="bg-blue-950 flex justify-between px-5 py-2 items-center">
            <div>
                <a 
                    class = "{% if url_name == 'home' %}text-blue-400{% endif %} font-bold"  
                    href="{% url "home" %}"
                >HOME</a>
            </div>
            <div class="flex space-x-4 items-center">
                {% if user.is_authenticated %}
                
                    <a 
                    class="{% if namespace == 'profile' and url_name == 'index' %}text-blue-400{% endif %} font-bold flex items-center gap-1"
                    href="{% url 'profile:index' public_name=user.profile.public_name %}"
                    >
                    <div class="size-7">
                        <img class="{% if namespace == 'profile' and url_name == 'index' %}border-2 border-blue-500{% endif %} rounded-full" src="{{user.profile.avatar.url}}" alt="{{user.profile.public_name}}">
                    </div>  
                    <div>
                        {{user.username}}
                    </div>
                    </a>
                <form class="logout-form" action="{% url "users:logout" %}" method="post" >
                    {% csrf_token %}
                    <button>LOGOUT</button>
                </form>
                {% else %}
                <a 
                    class="{% if namespace == 'users' and url_name == 'register' %}text-blue-400{% endif %} font-bold" 
                    href="{% url "users:register" %}"
                >REGISTER</a>
                <a  
                    class="{% if namespace == 'users' and url_name == 'login' %}text-blue-400{% endif %} font-bold" 
                    href="{% url "users:login" %}"
                >LOGIN</a>
                {% endif %}
            </div>
        </nav>
        {% endwith %}
    
        {% block content %}
        {% endblock  %}
    </div>
</body>
</html>