{% extends "main_layout.html" %}

{% block title %}
    Update Post
{% endblock  %}

{% block content %}
<div class="container mx-auto max-w-[800px] mt-10">
    <h1 class="text-center font-bold">Update Post</h1>
    <form class="custom-form" action="{% url "posts:update" post_slug=post.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{form}}
        </div>
        <button class="my-10 px-5 py-2 w-[600px] bg-[cadetblue] outline-none border-none" >
            Save Changes
        </button>
    </form>
</div> 
{% endblock  %}